<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SBT"
            id="org.scalastuff.esbt.commands.category">
      </category>
      <command
            categoryId="org.scalastuff.esbt.commands.category"
            defaultHandler="org.scalastuff.esbt.UpdateDependenciesCommand"
            id="org.scalastuff.esbt.commands.updateDependencies"
            name="SBT Update Dependencies">
      </command>
      <command
            categoryId="org.scalastuff.esbt.commands.category"
            defaultHandler="org.scalastuff.esbt.ExecuteSbtCommand"
            id="org.scalastuff.esbt.commands.executeCommand"
            name="SBT Command...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
            <command
                  commandId="org.scalastuff.esbt.commands.updateDependencies"
                  mnemonic="S"
                  label="SBT Update Dependencies"
                  id="org.scalastuff.esbt.menus.updateDependencies">
                    <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                  <test
                        property="org.scalastuff.esbt.isSbtProject" value="true">
                  </test>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
            <command
                  commandId="org.scalastuff.esbt.commands.executeCommand"
                  mnemonic="S"
                  label="SBT Command..."
                  id="org.scalastuff.esbt.menus.executeCommand">
                    <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                  <test
                        property="org.scalastuff.esbt.isSbtProject" value="true">
                  </test>
                  </iterate>
               </with>
            </visibleWhen>
            </command>
       
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.scalastuff.esbt.toolbars.sampleToolbar">
            <command
                  commandId="org.scalastuff.esbt.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="org.scalastuff.esbt.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.scalastuff.esbt.Initializer">
      </startup>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         namespace="org.scalastuff.esbt"
       id="org.scalastuff.esbt.EsbtPropertyTester"
       properties="isSbtProject"
       type="java.lang.Object"
       class="org.scalastuff.esbt.EsbtPropertyTester">
     </propertyTester>
    </extension>
</plugin>
